@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');

* , *:before, *:after { 
	box-sizing: border-box;
}

body {
	font-family: 'Hind Madurai', sans-serif;
	text-align: center;
	--colour: rgba(30, 22, 54, 0.6);
	min-height: 100%;
	margin: 0;
}

html, body, #root, .game-container, .player-list-container {
	width: 100%;
	height: 100%;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

button {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 1rem;
	border: 1px solid var(--colour);
	border-radius: 2px;
	color: var(--colour);
	background-color: white;
	box-shadow: none;
}

button:hover {
	color: white;
	background-color: var(--colour);
}

.game-container {
	padding: 1rem;
}

.player-list-selected {
	margin-top: 2rem;
}

.player-list-selected ul {
	list-style-type: square;
}

.player-button,
.player-list-selected button {
	padding: 0.5rem;
	margin: 0.1rem;
}

.start-button {
	padding: 1.5rem 2rem;
	margin-top: 3rem;
	font-size: 1.5rem;
}

.player-list {
	margin: auto;
	margin-top: 0.5rem;
	width: 20rem;
}

.player-list ul {
	text-align: left;
	list-style: none;
	margin-top: 1.5rem;
}

.player { /* Container for player info (disk color, name) */
	font-size: 1.5rem;
	padding: 0.4rem;
	padding-left: 1rem;
}

.player:hover {
	color: white;
	background-color: var(--colour);
	cursor: pointer;
}

.player svg { /* Korona disk */
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
}

.player .winner {
	font-style: italic;
}

.player .winner svg {
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}

.bottom-menu .start-button { /* Controls on the bottom right side of the screen (new game etc.) */
	margin-top: 1rem;
}

.stats-icon {
	font-size: 4rem !important;
	color: var(--colour);
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	cursor: pointer;
}
